<!-- Footer -->
<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">
        <strong>PO Management System</strong>
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year</strong> All rights reserved.
</footer>
